@import '~@angular/material/theming';

$app-primary: mat-palette($mat-teal, 500);
$app-accent: mat-palette($mat-orange, A200);
$app-warn: mat-palette($mat-red);

$custom-colors: (
    light-gray: mat-color($mat-grey, 200),
    main-gray: mat-color($mat-grey, 300),
    dark-gray: mat-color($mat-grey, 600),
    main: #fff
);

$basic-colors: (
    primary: mat-color($app-primary),
    accent: mat-color($app-accent),
    warn: mat-color($app-warn)
);

$theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$theme: map-merge($theme, (custom-colors: $custom-colors, basic-colors: $basic-colors));

$typography: mat-typography-config(
    $font-family: 'Roboto, Helvetica Neue',
    $display-4: mat-typography-level(7rem, 7rem, 300, $letter-spacing: -0.05em),
    $display-3: mat-typography-level(3.5rem, 3.5rem, 400, $letter-spacing: -0.02em),
    $display-2: mat-typography-level(2.81rem, 3rem, 400, $letter-spacing: -0.005em),
    $display-1: mat-typography-level(2.13rem, 2.5rem, 400),
    $headline: mat-typography-level(1.5rem, 2rem, 400),
    $title: mat-typography-level(1.25rem, 2rem, 500),
    $subheading-2: mat-typography-level(1rem, 1.75rem, 400),
    $subheading-1: mat-typography-level(0.93rem, 1.5rem, 400),
    $body-2: mat-typography-level(0.86rem, 1.5rem, 500),
    $body-1: mat-typography-level(0.86rem, 1.25rem, 400),
    $caption: mat-typography-level(0.75rem, 1.25rem, 400),
    $button: mat-typography-level(0.86rem, 0.86rem, 500),
    $input: mat-typography-level(inherit, 1.125, 400)
)