@import '~@angular/material/theming';

$app-primary: mat-palette($mat-blue, 800, 500, 900);
$app-accent:  mat-palette($mat-blue, A200, A100, A400);
$app-warn: mat-palette($mat-red);

$custom-colors: (
    light-gray: mat-color($mat-grey, 200),
    main-gray: mat-color($mat-grey, 300),
    dark-gray: mat-color($mat-grey, 600),
    main: #fff
);

$basic-colors: (
    primary: mat-color($app-primary),
    accent: mat-color($app-accent),
    warn: mat-color($app-warn)
);

$theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$theme: map-merge($theme, (custom-colors: $custom-colors, basic-colors: $basic-colors));