@import '../../../../../styles/vars.scss';

:host {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: map-get($custom-colors, light-gray);
}

h2 {
    color: map-get($custom-colors, dark-gray);
    text-align: center;
}