@import '../../../../../styles/vars.scss';

section {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    box-shadow: 0px 0px 0px 1px map-get($custom-colors, main-gray);
    margin: 0 auto;
    display: flex;
}