:host {
    display: block;
    width: 100%;
    position: relative;
    z-index: 2000;
    background-color: var(--app-background);
    border-bottom: 1px solid var(--app-main-gray);
    height: 3.5rem;
    overflow: hidden;
    flex-shrink: 0;

    &:before {
        display: block;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(var(--app-background) 0%, var(--app-background) 5%, transparent 20%, transparent 80%, var(--app-background) 95%, var(--app-background) 100%);
        z-index: 2000;
    }
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    top: 0;
    left: 0;
    transition: 0.2s;
    z-index: 1999;

    &:not(.active) {
        transform: translateY(-100%);
    }
}

.name, .status {
    margin: 0;
    line-height: 1;
}

.status {
    color: var(--app-dark-gray);
    position: relative;

    &:after {
        position: absolute;
        display: block;
        content: '';
        top: calc(50% + 0.05rem);
        left: -0.3rem;
        transform: translate(-100%, -50%);
        background: var(--app-online);
        border-radius: 50%;
        width: 0.5rem;
        height: 0.5rem;
    }

    &:not(.online):after {
        background-color: var(--app-main-gray);
    }

    &.not-active {
        height: 0;
        opacity: 0;

        &::after {
            width: 0;
            height: 0;
        }
    }
}

.name {
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.loading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 3.5rem;
    transition: 0.2s;
    z-index: 1999;

    &:not(.active) {
        transform: translateY(100%);
    }
}

.loading {
    padding-left: 1.5rem;
    font-weight: 400;
    margin: 0;
    position: relative;
    &:after {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(110%, -10%);
        display: inline-block;
        content: ' .';
        animation: dots 1s steps(5, end) infinite;
        font-size: 1.5rem;
    }
}

@keyframes dots {
    0%, 20% {
      color: var(--app-background);
      text-shadow:
        .25em 0 0, var(--app-background),
        .5em 0 0 var(--app-background);
    }
    40% {
      color: var(--app-text);
      text-shadow:
        .25em 0 0 var(--app-background),
        .5em 0 0 var(--app-background);
    }
    60% {
      text-shadow:
        .25em 0 0 var(--app-text),
        .5em 0 0 var(--app-background);
    }
    80%, 100% {
      text-shadow:
        .25em 0 0 var(--app-text),
        .5em 0 0 var(--app-text);
    }
}