:host {
    display: block;
    width: 100%;
    padding: 0 0.7rem;
    position: relative;
    margin-top: 0.3rem;
}

.wrapper {
    width: 100%;
    opacity: 0;
    transition: 200ms;

    &.active {
        opacity: 1;
    }
}

.not-found {
    color: var(--app-pre-additional-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 200ms;

    &.active {
        pointer-events: auto;
        opacity: 1;
    }
}