<button matRipple [ngClass]="active ? 'active' : ''" (click)="onClick()" [matRippleColor]="active ? rippleColorActive : rippleColor">
    <div class="photo"><div *ngIf="isSmallSize && notReadedMessagesCount !== 0" class="badge">{{notReadedMessagesCount}}</div></div>
    <div *ngIf="!isSmallSize" class="info"> 
        <div class="top">
            <div class="receiver">
                {{receiver}}
            </div>
            <div class="time mat-body-1">{{date}}</div>
        </div>
        <div class="bottom">
            <div class="last-message mat-subheading-1">
                {{message}}
            </div>
            <div *ngIf="notReadedMessagesCount !== 0" class="badge">{{notReadedMessagesCount}}</div>
        </div>
    </div>
</button>