:host {
    width: 100%;
    user-select: none;
}

.button {
    width: 100%;
    height: 4rem;
    margin: 0.3rem 0;
    border: 0;
    background-color: transparent;
    border-radius: 0.3rem;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    position: relative;

    &.active {
        background-color: var(--app-primary);
        
        .receiver {
            transition: 0.25s;
            color: var(--app-main-color);
        }

        .last-message {
            transition: 0.25s;
            color: var(--app-middle-main-additional-color);
        }

        .time {
            transition: 0.25s;
            color: var(--app-pre-main-color);
        }

        .status {
            border: 0.2rem solid var(--app-primary);
        }
    }

    &.dark {
        .receiver {
            color: var(--app-pre-additional-color);
        }

        .time, .last-message {
            color: var(--app-middle-main-additional-color);
        }


    }

    &.active.dark {
        .receiver, .time, .last-message {
            color: var(--app-pre-additional-color);
        }
    }

    &:focus {
        outline: none;
    }

    &:not(.active):hover,
    &:not(.active):focus {
        .status {
            border-color: var(--app-pre-main-color);
        }

        background-color: var(--app-pre-main-color);

        &.dark {
            .status {
                border: 0.2rem solid var(--app-pre-pre-main-color);
            }

            background-color: var(--app-pre-pre-main-color);
        }
    }

    &::ng-deep {
        .mat-ripple-element {
            z-index: 3000;
        }
    }
}

.photo,
.info {
    position: relative;
    z-index: 500;
}

.photo {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    position: relative;

    .avatar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .badge {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.info {
    margin-left: 1rem;
    min-width: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.25s;
}

.top {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    line-height: 1;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.time {
    color: var(--app-pre-additional-color);
    line-height: 1;
    transition: 0.25s;
}

.receiver,
.last-message-ellipsis {
    text-align: left;
    line-height: 1;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.receiver {
    font-weight: 600;
    margin-right: 0.5rem;
    transition: 0.25s;
}

.last-message {
    color: var(--app-pre-additional-color);
    display: flex;
    align-items: center;
    margin: 0 !important;
    min-width: 0;
    height: 1.2rem;
    transition: 0.25s;
}

.badge {
    background-color: var(--app-accent);
    padding: 0 0.3rem;
    border-radius: 0.6rem;
    font-weight: 600;
    font-size: 0.8rem;
    height: 1.2rem;
    min-width: 1.2rem;
    line-height: 1.2rem;
    margin-left: 0.25rem;
    color: var(--app-main-color);
    z-index: 200;
}

.status {
    transition: 0.3s;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--app-online);
    border-radius: 50%;
    border: 0.2rem solid var(--app-main-color);
    box-sizing: content-box;
}