<app-auth-loading *ngIf="loading"></app-auth-loading>

<app-auth-header class="link-invalid" *ngIf="linkError">Link is not valid.</app-auth-header>

<a mat-stroked-button href="/" *ngIf="linkError">Sign in</a>

<app-auth-wrapper *ngIf="!linkError" [formGroup]="formGroup" [onSubmit]="onSubmit">
    <app-auth-header>
        Reset password
    </app-auth-header>

    <mat-form-field appearance="legacy">
        <mat-label>New password</mat-label>
        <input
            matInput
            [type]="newPasswordHide ? 'password' : 'text'"
            formControlName="newPassword"
        >
        <mat-error *ngIf="formGroup.controls.newPassword.hasError('minlength')">
            Password must be longer than 8 characters
        </mat-error>
        <button 
            mat-icon-button matSuffix
            (click)="newPasswordHide = !newPasswordHide"
            [attr.aria-label]="'Hide new password'"
            [attr.aria-pressed]="newPasswordHide"
        >
            <mat-icon>
                {{newPasswordHide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Confirm new password</mat-label>
        <input
            matInput
            [type]="confirmNewPasswordHide ? 'password' : 'text'"
            formControlName="confirmNewPassword"
            [errorStateMatcher]="matchPasswords"
        >
        <mat-error *ngIf="formGroup.hasError('passwordsMismatch')">
            Passwords do not match
        </mat-error>
        <button
            mat-icon-button
            matSuffix
            (click)="confirmNewPasswordHide = !confirmNewPasswordHide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="confirmNewPasswordHide"
        >
            <mat-icon>
                {{confirmNewPasswordHide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
    </mat-form-field>

    <app-auth-error *ngIf="httpError$ | async">{{httpErrorMessage$ | async}}</app-auth-error>

    <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="!formGroup.valid || loading || linkError"
    >Reset password</button>
</app-auth-wrapper>