h1, h2 {
    text-align: center;
    font-weight: 400;
}

h2 {
    max-width: 50vw;
    text-align: center;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;

    button::ng-deep .mat-button-focus-overlay {
        background-color: transparent!important;
    }
}