.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    color: var(--app-additional-color);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

.item-btn {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.item-name {
    font-size: 1rem;
    line-height: 1;
}

.item-icon {
    width: 36px;
    margin-right: 8px !important;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-theme-btn {
    padding: 0;
}

.change-theme-slide-toggle {
    height: 100%;
    &::ng-deep {
        label {
            padding: 0 1rem;
        }
    }
}