@import '../../../styles/vars.scss';

.vertical-track,
.horizontal-track {
    position: absolute;
    background-color: none;
    opacity: 0.8;
    transition: 0.25s;

    &.select,
    &:hover {
        opacity: 1;
        background-color: map-get($custom-colors, main-dark-gray);
    }

    &:hover {
        user-select: none;
    }
}

.vertical-thumb,
.horizontal-thumb {
    background-color: map-get($custom-colors, dark-gray);
}

.vertical-track {
    top: 0;
    right: 0;
    height: 100%;
    z-index: 5000;
}

.vertical-thumb {
    cursor: pointer;
    position: absolute;
    width: 100%;
    left: 0;
}

.horizontal-track {
    bottom: 0;
    left: 0;
    width: 100%;
    padding-right: 10px;
    z-index: 5000;
}

.horizontal-thumb {
    cursor: pointer;
    position: absolute;
    height: 100%;
    bottom: 0;
}