<div scrollbar-vertical-track
     [class]="isVerticalTrackSelected ? 'vertical-track select' : 'vertical-track'">
    <div scrollbar-vertical-thumb
         (touchstart)="onVerticalTouchStart($event)"
         (mousedown)="onVerticalMousedown($event)"
         class="vertical-thumb">
    </div>
</div>
<div scrollbar-horizontal-track
     [class]="isHorizontalTrackSelected ? 'horizontal-track select' : 'horizontal-track'">
    <div scrollbar-horizontal-thumb
         (touchstart)="onHorizontalTouchStart($event)"
         (mousedown)="onHorizontalMousedown($event)"
         class="horizontal-thumb">
    </div>
</div>