@import '../../../../../styles/vars.scss';

section {
    width: 100%;
    max-width: 1600px;
    border: 1px solid map-get($custom-colors, main-gray);
    border-bottom: 0;
    border-top: 0;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}