<app-main-dialogs-scroll-bottom></app-main-dialogs-scroll-bottom>
<form [formGroup]="formGroup" class="form">
    <!-- <textarea class="textarea mat-body"
            type="text"
            cdkTextareaAutosize
            autosize="CdkTextareaAutosize"
            cdkAutosizeMaxRows="4"
            cdkAutosizeMinRows="1"
            formControlName="message"
            (keydown)="onKeydown($event)"
            placeholder="Send message..."></textarea> -->
    <div class="btn-wrapper"
         [style.height]="btnSize"
         [style.width]="btnSize">
        <button class="btn-send"
                matRipple
                aria-label="Send message"
                [disabled]="loading || isMessageEmpty()"
                (click)="onSubmit()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</form>