@import '../../../../../styles/vars.scss';

:host {
    display: block;
    position: sticky;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 2000;
    padding-top: 0.2rem;
    overflow: hidden;
    background-color: map-get($custom-colors, main);
}

.form {
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 1000;
}

.wrapper {
    width: 100%;
    max-height: calc(4px * 2 + 1rem * 8);
    flex: 1;
}

.form-field {
    width: 100%;
    margin-bottom: -1.343rem;

    &::ng-deep {
        .mat-form-field-flex,
        .mat-form-field-infix {
            padding: 0;
            border: 0;
        }

        .mat-form-field-flex {
            background-color: transparent;
        }

        .mat-form-field-wrapper {
            padding-bottom: 1.343rem;
        }

        .mat-form-field-infix {
            padding-bottom: 0.5rem;
            border-top: 0.5rem solid transparent;
            display: flex;
            align-items: flex-end;
        }

        .mat-form-field-underline {
            snap {
                height: 6px;
            }

            &:before {
                height: 3px;
            }
        }
    }
}

.scrollbar {
    display: block;
}

.textarea-wrapper {
    padding: 0 1rem;
    padding-top: 4px;
}

.textarea {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0.6rem 0;
    box-sizing: content-box;
    resize: none;
    word-break: break-word;

    &,
    &:focus {
        border: none;
        outline: none;
    }
}

.btn-send {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    user-select: none;

    &,
    &:focus {
        outline: none;
    }

    background-color: map-get($custom-colors, main);

    mat-icon {
        transition: color 200ms;
        color: map-get($custom-colors, dark-main-middle-gray);
    }

    &:not(:disabled) {
        cursor: pointer;
        mat-icon {
            color: map-get($basic-colors, primary);
        }
    }
}