@import '../../../../../styles/vars.scss';

:host {
    display: block;
    position: sticky;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 2000;
    padding-top: 0.2rem;
    background-color: map-get($custom-colors, main);
}

.hidden-wrapper {
    overflow: hidden;
}

.form {
    width: 100%;
    display: flex;
    align-items: flex-end;
    z-index: 1000;
}

.wrapper {
    width: 100%;
    max-height: calc(4px * 2 + 1rem * 8);
    flex: 1;
}

.scrollbar {
    display: block;
    height: 100%;
}

.textarea-wrapper {
    padding: 0 1rem;
    padding-top: 4px;
}

.textarea {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0.6rem 0;
    box-sizing: content-box;
    resize: none;
    word-break: break-word;

    &,
    &:focus {
        border: none;
        outline: none;
    }
}

.btn-send {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    user-select: none;

    &,
    &:focus {
        outline: none;
    }

    background-color: map-get($custom-colors, main);

    mat-icon {
        transition: color 200ms;
        color: map-get($custom-colors, dark-main-middle-gray);
    }

    &:not(:disabled) {
        cursor: pointer;
        mat-icon {
            color: map-get($basic-colors, primary);
        }
    }
}