@import '../../../../../styles/vars.scss';

:host {
    display: flex;
    width: 100%;
    justify-content: flex-start;

    &:not(.own-msg) {
        &.last-in-group {
            .last {
                display: block;
                background-color: map-get($custom-colors, main);
                left: -0.7rem;
                &:before {
                    left: -100%;
                }
            }
    
            .wrapper {
                border-bottom-left-radius: 0;
            }

            .avatar-wrapper {
                display: flex;
                left: -2.5rem;
            }
        }

        .wrapper {
            margin-left: 2.5rem;
        }
    }

    &.own-msg {     
        &.last-in-group {
            .last {
                display: block;
            }
        
            .wrapper {
                border-bottom-right-radius: 0;
            }

            .avatar-wrapper {
                display: flex;
            }
        }

        justify-content: flex-end;

        .wrapper {
            background-color: map-get($basic-colors, primary);
            color: map-get($custom-colors, main);
            margin-right: 2.5rem;
        }
    }
}

.wrapper {
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    background-color: map-get($custom-colors, main);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.text {
    min-width: 0;
    word-wrap: break-word;
    margin: 0;
    margin-right: 0.5rem;
    max-width: 20rem;
    white-space: pre-wrap;
}

.time {
    flex-shrink: 0;
    text-transform: uppercase;
    line-height: 1;
}

.last {
    display: none;
    position: absolute;
    height: 1rem;
    width: 0.7rem;
    background-color: map-get($basic-colors, primary);
    right: -0.7rem;
    bottom: 0;

    &:before {
        position: absolute;
        content: '';
        display: block;
        width: 200%;
        height: 200%;
        left: 0;
        bottom: 0;
        border-radius: 50%;
        background-color: map-get($custom-colors, light-gray);
    }
}


.avatar-wrapper {
    display: none;
    width: 2.2rem;
    height: 2.2rem;
    z-index: 1000;
    position: absolute;
    bottom: 0;
    right: -2.5rem;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 2rem;
    height: 2rem;
    background-color: #000;
    border-radius: 50%;
}