@import '../../../../../../styles/vars.scss';

:host {
    display: block;
    width: 80%;
    margin: 1rem auto;
    position: relative;
}

.separator {
    position: sticky;
    top: 0.5rem;
    z-index: 4000;
}

@media(max-width: $mobile-break-point) {
    :host {
        // margin: 0.2rem auto;
        width: calc(100% - 1rem);
    }
}