:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.input-wrapper {
    width: 90%;
    padding: 0.2rem;
    border: 1px solid var(--app-middle-main-additional-color);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    transition: border 150ms;

    &:hover {
        border: 1.5px solid var(--app-pre-pre-additional-color);
    }

    &:focus-within {
        .icon {
            color: var(--app-primary);
        }

        border: 1.5px solid var(--app-primary);
    }

    &.dark-theme {
        background-color: var(--app-detail-background-color);
        border: none;

        .icon {
            color: var(--app-pre-main-color);
        }

        &:hover {
            border: 1.5px solid var(--app-pre-main-color);
        }

        &:focus-within {
            .icon {
                color: var(--app-primary);
            }
    
            border: 1.5px solid var(--app-primary);
        }

        .input-placeholder::after {
            color: var(--app-pre-pre-additional-color);
        }
    }
}

.icon {
    user-select: none;
    color: var(--app-pre-pre-additional-color);
}

.input {
    color: var(--app-additional-color);
    height: 100%;
    padding: 0;
    font-size: 0.9rem;
    width: 100%;
    border: 0;
    background: none;

    &:focus {
        outline: none;
    }
}

.input-placeholder {
    margin-left: 0.1rem;
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
    position: relative;
    user-select: none;

    &:after {
        transition: 150ms;
        display: block;
        content: 'Search';
        position: absolute;
        top: calc(50% + 2px);
        left: 0;
        font-size: 0.9rem;
        width: 100%;
        height: 100%;
        line-height: 1;
        color: var(--app-additional-color);

        transform: translateY(-50%) translateX(10%);
        opacity: 0;
    }

    &:not(.not-active)::after {
        transform: translateY(-50%);
        opacity: 0.5;
    }
}


.clear-btn {
    flex-shrink: 0;
    background: none;
    border: none;

    &:focus {
        outline: none;
    }

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0;
    box-sizing: content-box;

    mat-icon {
        color: var(--app-pre-additional-color);
        width: 0.9rem;
        height: 0.9rem;
        font-size: 0.9rem;
    }
}