<app-main-dialogs-info></app-main-dialogs-info>
<div class="wrapper">
    <app-main-dialogs-scroll-bottom></app-main-dialogs-scroll-bottom>
    <app-main-dialogs-scroll>
        <div #wrapper class="scroll-wrapper">
            <ng-container *ngFor="let message of (messages$ | async); trackBy: messageIdentify">
                <app-main-dialogs-separator
                    *ngIf="message.isDiffDays"
                    [date]="message.diffDate">
                </app-main-dialogs-separator>
                <span #anchor>
                    <app-main-dialogs-message
                    #messages
                    [wrapperWidth]="wrapperWidth"
                    [message]="message.message"
                    [date]="message.createdAt"
                    [isLastInGroup]="message.isLastInGroup"
                    [isOwnMsg]="message.senderID === (getUserID() | async)"
                    [isReaded]="message.isReaded"
                    [name]="getSenderName(message.senderID) | async"
                    [messageID]="message.messageID"
                ></app-main-dialogs-message>
                </span>
            </ng-container>
        </div>
    </app-main-dialogs-scroll>
</div>
<app-main-dialogs-input></app-main-dialogs-input>