@import '../../../../../styles/vars.scss';

:host {
    flex: 1;
    background-color: map-get($custom-colors, light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 90%;
}