<div #wrapper class="wrapper">
    <div class="scroll-wrapper">
        <ng-container *ngFor="let message of (messages$ | async); trackBy: messageIdentify">
            <app-main-dialogs-separator
                *ngIf="message.isDiffDays"
                [date]="message.diffDate">
            </app-main-dialogs-separator>
            <app-main-dialogs-message
                [wrapperWidth]="wrapperWidth"
                [message]="message.message"
                [date]="message.createdAt"
                [isLastInGroup]="message.isLastInGroup"
                [isOwnMsg]="message.senderID === (getUserID() | async)"
                [isReaded]="message.isReaded"
            ></app-main-dialogs-message>
        </ng-container>
    </div>
    <app-main-dialogs-input></app-main-dialogs-input>
</div>