<div class="no-selected"
     *ngIf="!(isSelectedReceiver$ | async)">
    <h2>Please select chat to start messaging</h2>
</div>
<div class="wrapper" *ngIf="isSelectedReceiver$ | async">
    <div #wrapper class="scrollable-wrapper">
        <ng-template ngFor let-message [ngForOf]="messages$ | async">
            <app-main-dialogs-separator
                *ngIf="message.isDiffDays"
                [date]="message.diffDate">
            </app-main-dialogs-separator>
            <app-main-dialogs-message
                [wrapperWidth]="wrapper.offsetWidth"
                [message]="message.message"
                [date]="message.createdAt"
                [isLastInGroup]="message.isLastInGroup"
                [isOwnMsg]="message.senderID === (getUserID() | async)"
                [isReaded]="message.isReaded"
            ></app-main-dialogs-message>
        </ng-template>
    </div>
    <app-main-dialogs-input *ngIf="isSelectedReceiver$ | async"></app-main-dialogs-input>
</div>