@import './app/styles/theme.scss';

* {
    box-sizing: border-box;
    font-size: 18px;
}

.cdk-overlay-container {
    z-index: 10000;
}

body {
    overflow-x: hidden;
    overflow-y: overlay;
    margin: 0;

    &::-webkit-scrollbar {
        width: 1.3vmin !important;
    }
}

.scrollbar {
    &::-webkit-scrollbar {
        width: 1vmin;
    }
    
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: map-get($custom-colors, dark-main-middle-gray);
    
        &:hover {
            background-color: map-get($custom-colors, dark-gray);
        }
    }
}