@import './app/styles/theme.scss';

* {
    box-sizing: border-box;
    font-size: 18px;
}

html, body {
    height: 100%;
}

.cdk-overlay-container {
    z-index: 10000;
}

body {
    margin: 0;

    .scrollbar {
        --scrollbar-thumb-color: #{map-get($custom-colors, dark-main-middle-gray)};
        --scrollbar-thumb-hover-color: #{map-get($custom-colors, dark-gray)};
        --scrollbar-thumb-transition: background 250ms width 250ms height 250ms;
    
        --scrollbar-size: 4px;
        --scrollbar-hover-size: 8px;
        --scrollbar-padding: 2.5px;
    }
}