@import './app/styles/theme.scss';
@import './app/styles/vars.scss';

*, *::after, *::before {
    box-sizing: border-box;
    font-size: 18px;
    caret-color: var(--app-primary);
}

.cdk-overlay-container {
    z-index: 15000;
}

body {
    background-color: var(--app-dialogs-outside-color);
    margin: 0;
    overflow: hidden;
}

.scrollbar {
    scrollbar-color: var(--app-scrollbar-thumb-color) transparent;

    &::-webkit-scrollbar {
        width: 1vmin;
    }
    
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: var(--app-scrollbar-thumb-color);
    
        &:hover {
            background-color: var(--app-scrollbar-thumb-hover-color);
        }
    }
}

@media(max-width: $mobile-break-point) {
    html {
        font-size: 20px;
    }
}