@import '../../../../../styles/vars.scss';

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.invalid {
    margin-bottom: 2rem;
    color: map-get($basic-colors, warn);
}