@import '../../../../../styles/vars.scss';

:host {
    display: block;
    width: 23%;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: map-get($custom-colors, main);
    z-index: 6000;
    border-right: 1px solid map-get($custom-colors, main-gray);
    overflow-y: overlay;

    &.small {
        width: 5.6rem;
    }
}

.wrapper {
    width: 100%;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}