@import '../../../../../styles/vars.scss';

:host {
    display: block;
    width: 23%;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: map-get($custom-colors, main);

    &.small {
        width: 5.6rem;
    }
}

.wrapper {
    width: 100%;
    padding: 0 0.7rem;
}

.scrollbar {
    &::ng-deep .ng-scroll-content {
        width: 100%;
    }
}