@import '../../../../../styles/vars.scss';

:host {
    display: block;
    width: 23%;
    background-color: map-get($custom-colors, main);

    &.small {
        width: 4.8rem;
    }
}

.wrapper {
    padding: 0 0.4rem;
}