<app-auth-loading *ngIf="loading"></app-auth-loading>
<app-auth-wrapper [formGroup]="formGroup" [onSubmit]="onSubmit">
    <app-auth-header>Reset password</app-auth-header>

    <mat-form-field appearance="legacy">
        <mat-label>Enter email</mat-label>
        <input matInput formControlName="email" type="email">
    </mat-form-field>

    <app-auth-error [error]="httpError">Server error. Try later</app-auth-error>

    <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="!formGroup.valid || loading"
    >Reset password</button>
</app-auth-wrapper>